/* CSS goes here */

.ng-scope {
 border: 1px solid blue;
 margin: 4px;
}
body {
  margin: 0;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: Lucida Sans Unicode, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}